beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Django==2.0.5
django-braces==1.13.0
django-model-utils==3.2.0
django-star-ratings==0.8.0
django-tinymce==2.8.0
django-tinymce4-lite==1.7.5
gunicorn==19.9.0
idna==2.8
inflect==2.1.0
jaraco.itertools==4.4.2
jsmin==2.2.2
more-itertools==7.0.0
numpy==1.16.2
Pillow==6.0.0
python-slugify==3.0.3
pytz==2019.2
requests==2.21.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
swapper==1.1.1
text-unidecode==1.2
urllib3==1.24.3
virtualenv==16.4.3
wikipedia==1.4.0
wolframalpha==3.0.1
wxPython==4.0.4
xmltodict==0.12.0
