{% load staticfiles %}
{% load static %}
{% load ratings %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forum</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <style type="text/css">
      /* The Modal (background) */

      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }

      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
      @media screen and (max-width: 600px) {

        .mce-tinymce {
          width: 100% !important;
        }
      }
    </style>
</head>

<body>
    <script type="text/javascript">
      tinyMCE.init({
        selector: 'textarea',  // change this value according to your HTML
        content_css : '/myLayout.css'  // resolved to http://domain.mine/myLayout.css
      });
    </script>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="{% url 'list' %}">GDG Siliguri</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home' %}">Blog</a></li>
                        <li class="nav-item" role="presentation"><a class="dropdown-item" role="presentation" href="{% url 'forum:create' %}">Ask a question</a></li>
                        <!-- <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li> -->
                    </ul>
                    {% if request.user.is_authenticated %}
                    <span class="navbar-text actions"> <a class="login" href="{% url 'logout' %}">Log Out</a>
                    {% else %}    
                    <a class="btn btn-light action-button" role="button" href="{% url 'login' %}">Log in</a></span></div>
                    {% endif %}
            </div>
        </nav>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                  <h3 style="margin: 40px 0 0 40px;">{{question.question}}</h3><span style="font-size: 15px;margin: 0 0 0 40px;">Asked by {{question.user}} on {{question.created}}</span>
                  <div style="margin: 30px;">
                  <p style="margin: 30px;">{{question.content|safe}}</p>
                  {% with total_likes=question.users_liked.count users_liked=question.users_liked.all %}
                  <br>
                  <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                  </span>
                  <a id="myBtn">(Liked by)</a>
                  <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      {% for user in question.users_liked.all %}
                        <div>
                          <p>
                            {{ user.username }}</p>
                        </div>
                        {% empty %}
                          Nobody likes this post yet.
                        {% endfor %}
                    </div>

                  </div>
                  
                  <script>
                  // Get the modal
                  var modal = document.getElementById("myModal");

                  // Get the button that opens the modal
                  var btn = document.getElementById("myBtn");

                  // Get the <span> element that closes the modal
                  var span = document.getElementsByClassName("close")[0];

                  // When the user clicks the button, open the modal 
                  btn.onclick = function() {
                    modal.style.display = "block";
                  }

                  // When the user clicks on <span> (x), close the modal
                  span.onclick = function() {
                    modal.style.display = "none";
                  }

                  // When the user clicks anywhere outside of the modal, close it
                  window.onclick = function(event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                    }
                  }
                  </script>
                  <a href="#" class="btn btn-info like button" data-id="{{question.id}}" data-action="{% if request.user in users_liked %}un{% endif %}like">
                    {% if request.user not in users_liked %}
                      Like
                    {% else %}
                      Unlike
                    {% endif %}
                  </a>
                  {% endwith %}
                  </div>    
                </div>
              </div>
            </div>  
     <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                  {% with answers.count as total_answers %}
                    <h2>
                      {{total_answers}} answer{{total_answers|pluralize}}
                    </h2>
                  {% endwith %}

                  {% for answer in answers %}
                    <div class="card" style="margin-bottom: 20px;">
                      <div class="card-body">
                      <p class="info">Answered by
                        <strong>{{answer.author}}</strong> on 
                         {{answer.created_at}}
                      </p><hr>
                      {{answer.content|safe}}
                      <br>
                      {% ratings answer %}

                    </div>  
                  </div>
                  {% empty %}
                    <p>There are no answers yet</p>
                  {% endfor %}

                  {% if new_answer %}
                    <h2>Your answer has been added</h2>
                  {% else %}
                    <h2>Add a new answer</h2>
                    <form  class="form-group" action="." method="post">
                      {{ AnswerForm.media }}
                      {{ AnswerForm.as_p}}
                      {% csrf_token %}
                      <p><input class="btn btn-info" type="submit" value="Add answer"></p>
                    </form>
                  {% endif %}
                  </div>
              </div>
        </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>GDG Siliguri</h3>
                        <ul>
                            <li><a href="{% url 'home' %}">Blog</a></li>
                          
                        </ul>
                    </div>
                    <!-- <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div> -->
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">GDG Siliguri © 2019 <br></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function(){
        
          $('a.like').click(function(e){
            console.log("Hey! CLicked!")
            e.preventDefault();
            $.post('{% url "forum:like" %}',
              {

                id: $(this).data('id'),
                action: $(this).data('action')
              },

              function(data){
                if (data['status'] == 'ok')
                {
                  console.log(data['status'])
                  var previous_action = $('a.like').data('action');

                  // toggle data-action
                  $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                  // toggle link text
                  $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                  // update total likes
                  var previous_likes = parseInt($('span.count .total').text());
                  $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
                console.log(data['status'], data['post_id'], data['action'])
               
              }
            );
          });
        
         });
    </script>
    <script src="{% static "tinymce/js/prism.js" %}"></script>
    <script type="text/javascript">
      tinymce.init({
        selector: 'textarea',  // change this value according to your HTML
        branding: false
      });

    </script>
</body>

</html>