{% load staticfiles %}
	<title>Home</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - GDG Siliguri</title>
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
	<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="{% url 'home' %}">GDG Siliguri</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
                    {% if request.user.is_authenticated %}
                    	<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'list' %}">Forum</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">Log-out</a></li>
                        
                	{% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'list' %}">Forum</a></li>
                		<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">Log-in</a></li>
            		{% endif %}
                </ul>
        </div>
        </div>
    </nav>
	 <header class="masthead" style="background-image:url({% static 'assets/img/home-bg.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Welcome to Our Blog</h1><span class="subheading">Google Developers Group Siliguri</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                {% if tag %}
                    <h5 style="opacity: 0.5;">Posts tagged with {{ tag.name }}</h5>
                {% endif %} 
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{post.get_absolute_url}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.body|truncatewords:5|safe}}</h3>
                        </a>
                        <p class="post-meta">Posted by&nbsp;Published {{ post.publish }} by {{post.author}}</p>
                        <p>
                            <p>
                                Tags:
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'post_list_by_tag' tag.slug %}">
                                        {{tag.name}}
                                    </a>
                                {% endfor %}
                            </p>
                        </p>
                    </div>
                    <hr>
                {% endfor %}
                
            </div>
        </div>
        {% include "pagination.html" with page=posts %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;GDG Siliguri 2019</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="{% static "tinymce/js/prism.js" %}"></script>
